@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";

.top-pad
  padding-top: 0.5em;

.space-right
  margin-right: 0.5em

.space-left
  margin-left: 0.5em

.space-top
  margin-top: 0.5em

.space-bottom
  margin-bottom: 0.5em

.button.classroom-green-button
  border-color: #25A667

.button.classroom-green-button:hover
  border-color: $grey
  background-color: #25A667
  color: white;

a:hover .tooltip
  display: initial;

.tooltip
  display: none;
 
.hide
  display: none
  opacity: 0

.show
  display: block
  opacity: 1
  transition: opacity 300ms

.description ul
  padding-left: 16px

.description ul li
  position: relative
  margin-bottom: 5px
  
.description ul li:before
  content: "\2610"
  position: absolute
  left: -16px
  
.is-opaque
  background-color: white

.student-name-picker
  min-width: 20rem
  
.student-name-picker > a
  width: 100%

$toolbar-height: 55px
$hidden-toolbar-height: 5px

.viewport3,.viewport2
  display: flex
  flex-direction: column
  height: 100%
  min-height: 100%

.viewport2 > .tabs,.viewport3 > .tabs
  margin-bottom: 0
  
.viewport3 > div:nth-child(2),.viewport2 > div:nth-child(2)
  flex: 1
  overflow-y: auto

.viewport2.bottom > div:nth-child(1)
  flex: 1
  overflow-y: auto
  
.viewport3 > div:nth-child(1),.viewport2 > div:nth-child(1),.viewport3 > div:nth-child(3)
  height: $toolbar-height
  
.viewport3.shrinky > div:nth-child(1),.viewport2.shrinky > div:nth-child(1),.viewport3.shrinky > div:nth-child(3)
  height: $hidden-toolbar-height
  border: 2px solid $grey
  border-width: 2px 0px 2px 0px;
  padding: 3px 0px 3px 0px;
  background-color: darken($grey,20%);
  overflow: hidden
  
.viewport3.shrinky > div:nth-child(1):hover,.viewport2.shrinky > div:nth-child(1):hover,.viewport3.shrinky > div:nth-child(3):hover
  height: $toolbar-height
  background-color: white;
  border: 2px solid lighten($grey,20%)
  transition: background-color 300ms,height 300ms,border-color 300ms;

.viewport2.bottom > div:nth-child(2)
  height: $toolbar-height
  flex: 0

.viewport2.bottom.shrinky > div:nth-child(2)
  height: $hidden-toolbar-height
  border: 2px solid $grey;
  border-width: 2px 0px 2px 0px;
  padding: 3px 0px 3px 0px;
  background-color: #efefef
  flex: 0

.viewport2.bottom.shrinky > div:nth-child(2):hover
  height: $toolbar-height
  position: fixed;
  bottom: 0px;
  background-color: white;
  transition: background-color 300ms,height 300ms,border-color 300ms;

.viewport3 > div:nth-child(2),.viewport2 > div:nth-child(2)
  overflow-y: auto;
  flex: 1;


//heights

html,body,#root,.fullHeight
  height: 100%
  padding: 0
  margin: 0

/* .viewport2,.viewport3
/*   height: 99vh

/* .viewport2 .viewport3,.viewport2 .viewport2
/*   height: calc(99vh - $toolbar-height)

/* .viewport3 .viewport2,.viewport3 .viewport3
/*   height: calc(99vh - 120px)

/* .viewport3 .viewport2 .viewport2,.viewport3 .viewport2 .viewport3,.viewport2 .viewport3 .viewport2,.viewport2 .viewport3 .viewport3
/*   height: calc(99vh - 120px - $toolbar-height)

.modeBox
  position: absolute
  right: 5px;
  bottom: 5px;
  
