@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
@import "./chooseContrast.sass"

.button.is-outlined
  background-color: transparent

.treehead .treecell
  font-weight: bold

.treehead .treerow 
  background-color : #333;


.table .treehead
  border-color: black
  color: white

.treecell
  padding: 3px

/* .rowGroup,.row-children > .nested1,.row-children > .nested2,.row-children > .nested3
/*   border-right-width: 4px
/*   border-left-width: 2px
/*   border-bottom-width: 1px
/*   border-top-width: 1px
/*   border-style: solid

.treecell .button 
  background-color: rgba(255,255,255,0.5);
  
.treecell .button:hover
  background-color: white;

.treerow 
  display: grid
  grid-column-gap: 3px

$row-types: even odd
$colors: #659dbd #BC986A
//$colors: $red $cyan

@each $row-type in $row-types
  @debug $row-type
  $i: index($row-types, $row-type)
  @debug $i
  $baseColor : nth($colors,$i)

  .table > .rowGroup:nth-child(#{$row-type}),.table > .rowGroup:nth-child(#{$row-type}) .treePopover div
    background-color : scale-color($baseColor,$lightness: 10%)
    @include text-contrast(scale-color($baseColor,$lightness: 10%))

  .table > .rowGroup:nth-child(#{$row-type}) .row-children > .nested1:nth-child(odd),.table > .rowGroup:nth-child(#{$row-type}) .row-children > .nested1:nth-child(odd) .treePopover div
    background-color: scale-color($baseColor,$lightness: 50%)
    @include text-contrast(scale-color($baseColor,$lightness: 50%))
  
  .table > .rowGroup:nth-child(#{$row-type}) .row-children > .nested1:nth-child(even),.table > .rowGroup:nth-child(#{$row-type}) .row-children > .nested1:nth-child(even) .treePopover div
    background-color: scale-color($baseColor,$lightness: 80%)
    @include text-contrast(scale-color($baseColor,$lightness: 80%))


@for $span from 2 through 20
  .colSpan#{$span}
    grid-column: span $span

.treeView 
  min-width: 1024px
  
$spacer : 0.5em

.rowchildren
  //border-bottom-color: $grey-lighter
  border-color: white
  border-bottom-style: solid
  border-width: $spacer
  margin-bottom: 6px
  
.rowchildren .treerow.lastRow .treecell
  padding-bottom: 3px

@for $n from 1 through 4
  $darkPercent : ($n - 1) * 10
  $parent : $n - 1
  .nested#{$parent} .rowchildren
    border-width: $spacer
//    border-color: darken($grey-lighter,$darkPercent)

  .nested#{$n} .treecell:nth-child(1)
//    border-color: darken($grey-lighter,$darkPercent)
    border-left-style: solid
    border-width: $spacer * $n
    padding-left: 2px

.spring-tree-enter-done
  transform: none

.spring-tree-exit-done
  display: none;

.spring-tree-exit
  transform: scaleY(1);
  transform-origin: top;
  max-height: 500px;
  transition : transform 300ms;
  
.spring-tree-exit-active
  transform : scaleY(0);
  transform-origin: top
  max-height: 0px;
  transition : transform 300ms, max-height 600ms;

.spring-tree-enter
  transform : scaleY(0);
  transform-origin: top
  transition : transform 300ms;

.spring-tree-enter-active
  transform: scaleY(1);
  transform-origin: top;
  transition : transform 300ms;
  
.hidden 
  color : #7a7a7a;
  background-color: #efefef;

.unreverse 
  transform : rotateZ(360deg);
  transition : transform 300ms;
  
.reverse 
  transform : rotateZ(180deg);
  transition : transform 300ms;

.textEditorCell
  height : 425px;

.textEditorCell div.quill
  height : 350px;
  position: absolute;
  top : 30px;
  right : 20px;
  width : 500px;

.is-bold
  font-weight: 900;

// popover...
.treePopover
  position: relative

.treePopover > div
  position: absolute
  width: calc(100% + 60px)
  padding: 15px 15px 5px 5px
  border-radius: 0px 0px 10px 10px
  box-shadow: 3px 3px rgba(128,128,128,0.5)
  min-height: 70px
  max-height: 600px
  overflow-y: auto
  z-index: 50


.treePopover .close-popup
  position: absolute
  top: 3px
  right: 3px
  
  
.treePoppable:hover
  cursor: pointer
  color: $blue
