@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";

.treehead .treecell
  font-weight: bold


.treerow 
  display: grid;
  grid-column-gap: 3px;

@for $span from 2 through 20
  .colSpan#{$span}
    grid-column: span $span

.treeView 
  min-width: 1024px
  
$spacer : 0.5em

.rowchildren
  border-bottom-color: $grey-lighter
  border-bottom-style: solid
  border-width: $spacer
  margin-bottom: 6px
  
.rowchildren .treerow.lastRow .treecell
  padding-bottom: 3px

@for $n from 1 through 4
  $darkPercent : ($n - 1) * 10
  $parent : $n - 1
  .nested#{$parent} .rowchildren
    border-width: $spacer
    border-color: darken($grey-lighter,$darkPercent)

  .nested#{$n} .treecell:nth-child(1)
    border-color: darken($grey-lighter,$darkPercent)
    border-left-style: solid
    border-width: $spacer * $n
    padding-left: 2px

.spring-tree-enter-done
  transform: none

.spring-tree-exit-done
  display: none;

.spring-tree-exit
  transform: scaleY(1);
  transform-origin: top;
  max-height: 500px;
  transition : transform 300ms;
  
.spring-tree-exit-active
  transform : scaleY(0);
  transform-origin: top
  max-height: 0px;
  transition : transform 300ms, max-height 600ms;

.spring-tree-enter
  transform : scaleY(0);
  transform-origin: top
  transition : transform 300ms;

.spring-tree-enter-active
  transform: scaleY(1);
  transform-origin: top;
  transition : transform 300ms;
  
.hidden 
  color : #7a7a7a;
  background-color: #efefef;

.unreverse 
  transform : rotateZ(360deg);
  transition : transform 300ms;
  
.reverse 
  transform : rotateZ(180deg);
  transition : transform 300ms;

.textEditorCell
  height : 425px;

.textEditorCell div.quill
  height : 350px;
  position: absolute;
  top : 30px;
  right : 20px;
  width : 500px;
